.header {
  height: 80px;
  background-color: #333333;
  color: white;
  
}
.header .container {
width: 66%;
height: 100%;
}
.top {
height: 100%;

}
.left-header{
display: flex;
align-items: center;
justify-content: center;
}
.right-header{
display: flex;
align-items: center;
margin-left: 20px;

}
.menu-header {
display: none;
}
.search{
display: flex;
align-items: center;
position: relative;
}
.input-search {
width: 320px;
height: 31px;
padding: 0 5px;
}
.icon-search {
font-size: 20px;
margin-left: 10px;
position: absolute;
color: #333333;
right: 10px;
}

.logo{
  width: 100%;
}
.main-menu{
  background-color: #2d2d2d;
  
}
.main-menu .container {
  width: 66%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.main-menu .menu-item:hover a{
  color: #c58560;
}
.main-menu .menu-item{
  list-style: none;
  padding: 15px 10px;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase; 
  cursor: pointer;
  position: relative;
}
.menu-item .menu-extension{
  position: absolute;
  top: 57px;
  display: none;
  z-index: 1;
  left: 0;
  color: white;
}
.menu-item .menu-extension .ul-item-1 li a{
  color: white;
}
.menu-item .menu-extension .ul-item-1 li:hover a{
  color: #c58560;
}
.main-menu .menu-item:hover .menu-extension{
  display: block;
 
}


.ul-item-1{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 800px;
  background-color: #2d2d2d;
  padding: 0;
  color: white;
}
.ul-item-1 li{
  padding:10px 15px 3px 10px;
  margin: 5px;
  text-transform: none;
  font-size: 14px;
}
.ul-item-1 li:hover{
  color: #c58560;
}
.ul-item-2{
  flex-wrap: wrap;
  list-style: none;
  width: 200px;
  background-color: #2d2d2d;
  padding: 0;
}
.ul-item-2 li{
  padding: 10px 15px 3px 10px;
  text-transform: none;
  font-size: 14px
}
.ul-item-2 li:hover{
  color: #c58560;
}
.main-menu .menu-item a{
  padding: 20px 0;
  text-decoration: none;
  color: #ffffff;
}
.menu-active{
  border-bottom: solid 3px white;
}
.main-menu .menu-item.menu-active>a{
  color: #c58560;
}
.repon-menu{
  position: absolute;
  width: 60%;

  top: 0;
  left: -200px; /* Đặt vị trí ban đầu ở bên trái ngoài màn hình */
  animation: menuIn 0.5s forwards;
  display: none;
  background-color: #333333;
  z-index: 2 ;
}
.menu-out{
  position: absolute;
  width: 60%;
  top: 0;
  left: 0px;
  animation: menuOut 0.5s forwards;
  display: none;
  background-color: #333333;
  z-index: 2 ;
}
@keyframes menuIn {
  0% {
      left: -200px; 
  }
  100% {
      left: 0; 
  }
}
@keyframes menuOut {
0% {
  left: 0; 
}
100% {
  left: -400px; 
}
}
.repon-list-menu{
  color: white;
  text-align: center;
  background-color: #333333;

}
.repon-list-menu .repon-menu-item{
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase; 
  cursor: pointer;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.repon-menu-extension ul{
  font-size: 13px;
}
.repon-menu-extension ul li{
  padding: 5px 0;
}
.repon-list-menu .repon-menu-item a{
  text-decoration: none;
  padding:12px 50px;
  color: #ffffff;
}
.repon-menu-item .icon-more{
  position: absolute;
  right: 12px;
}
.repon-list-menu .repon-menu-item.menu-active>a{
  color: #c58560;
}
.main-content .container {
  width: 66%;
  height: 100%;
}
.text-hot{
  text-transform: uppercase;
  color: #c58560;
  font-size: 25px;
}
.movie-new{
  display: flex;
  flex-direction: column;
}
.text-new-1{
  
  cursor: pointer;
}
.box-text-1{
  border-bottom: solid 3px #d9d9d9;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

}
.box-text-2{
  margin:  0 10px;
  padding-bottom: 10px;
  border-bottom: solid 3px #d9d9d9;
  display: flex;
  align-items: center;
}
.text-new-2{
  cursor: pointer;
}
.box-text-1:hover{
  color: #c58560;
  border-bottom: solid 3px #c58560;
}
.box-text-2:hover{
  color: #c58560;
  border-bottom: solid 3px #c58560;
}
.movie-new .active {
  color: #c58560;
  border-color:  #c58560;
  font-size: 25px;
  text-transform: uppercase;
  
}

.text-trend{
  text-transform: uppercase;
  color: #c58560;
  font-size: 25px;
  border-bottom: dashed 2px rgb(196, 196, 196);
  padding-bottom: 10px;
  cursor: pointer;
}
.carousel__slide{
  position: relative;
}
.carousel__item {
  min-height: 220px;
  width: 90%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.button_carousel_play{
  position: absolute;
  top:40%;
  z-index: 2;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transform: scale(0.8); /* Ban đầu thu nhỏ overlay */
  transition: transform 0.5s ease, opacity 0.5s ease;
  background-color: #522e75;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.carousel__slide:hover .button_carousel_play{
  opacity: 1;
  animation: fadeInAndEnlarge 0.5s ease forwards;
  display: flex;
}

@keyframes fadeInAndEnlarge {
  0% {
    opacity: 0; /* Ban đầu ẩn */
    transform: scale(1.5); /* Ban đầu thu nhỏ */
  }
  100% {
    opacity: 0.8; /* Kết thúc hiển thị rõ ràng */
    transform: scale(0.8); /* Kết thúc phóng to */
  }
  
}

.carousel__title {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 90%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  overflow: hidden; 
}
.carousel__title .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.repon-search{
  display: none;
  position: relative;
}
.repon-input-search{
  width: 100%;
  height: 30px;
  padding: 0 10px;
  background-color: #484848;
  border: 0;
  color: white;
  border-bottom-left-radius:5px ;
  border-bottom-right-radius:5px ;
}
.icon-delete{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  font-size: 15px;
  cursor: pointer;
  color: white;
  padding: 7px;
}
.list-iamge-movie {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag-víetsub{
  position: absolute;
  top:5px;
  left: 0;
  background-color: #A3765D;
  padding: 5px;
  font-size: 11px;
  border-radius: 0 5px 5px 0 ;
  border-bottom: 2px solid #96674f;
  box-shadow: 2px 2px  rgba(0,0,0,0.7);
}
.button-play{
  position: absolute;
  top:34%;
  left: 33%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transform: scale(0.8); /* Ban đầu thu nhỏ overlay */
  transition: transform 0.5s ease, opacity 0.5s ease;
  background-color: #522e75;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  opacity: 0;
}
.box-movie:hover .button-play{
  opacity: 1;
  animation: fadeInAndEnlarge 0.5s ease forwards;
  display: flex;
}
.tag_carousel__slide{
  position: absolute;
  top:5px;
  left: 10px;
  z-index: 2;
  font-size: 11px;
  padding:1px 4px;
  border-radius: 0 5px 5px 0 ;
  border-bottom: 2px solid #96674f;
  box-shadow: 2px 2px  rgba(0,0,0,0.7);
  background-color: #A3765D;

}
.box-movie {
  width: 22.8%; /* 4 cột trên mỗi hàng, với lề và khoảng cách giữa các cột */
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.box-movie .image-movie{
  height: 80%;
}

.box-movie-title {
  width: 100%;
  height: 42px;
  padding: 5px;
  background-color: #181818;
  color: white;
  font-size: 12px;
  text-align: center;
  word-wrap: break-word;
}
.taps{
  background-color: #0a0a0a;
}
.tap{
  width:calc(100%/3);
  padding:10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}
.tap:hover{
  background-color: rgb(48, 48, 48);
}
.taps .active{
  background-color: rgb(86, 86, 86);
}
.item-trend{
  padding: 10px;
  
}
.list-movie-trend .line{
  background-color: #181818;
}
.item-index{
  background-color: #c58560;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: bold;
}
.box-item-trend .text-item{
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
.box-item-trend .text-item:hover{
  color: #c58560;
}

.main-footer{
  background-color: #2d2d2d;
  color: #848484;
  width: 100%;
}
.main-footer .container{
  width: 66%;
  height: 100%;
}

.app-category{
  width: 100%;
}
.app-category{
  width: 100%;
}
.app-category .container{
  width: 66%;
  height: 100%;
}
.nav-page{
  background-color: #181818;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  border-radius: 3px;
  width: 100%;
}
.nav-page .nav-page-text{
  text-transform: uppercase;
  font-size: 12px;
  
}
.input-filter{
  width: 135px;
  height: 28px;
  font-size: 12px;
  padding: 3px;
  background: #383838;
  color: white;
  outline: none;
  border: none;
  border-radius: 0;
  margin:  8px 10px 5px 0;
}
.button-filter{
  height: 28px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 12px;
  background: #666;
}
.button-filter:hover{
  background: #383838;
}
.title-movie-info .name-vn{
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ff9658;
}
.title-movie-info .name-eng{
  color: #999;
}
.detail-info{
  background-color: #252525;
  padding: 5px 15px;
}
.detail-info .text-detail-info{
  margin: 10px 0;
  color: rgb(230, 230, 230);
  font-size: 13px;
  font-weight: bold;
}
.text-detail-info .text{
  color: #a2a2a2;
  font-weight: normal;
  padding: 0 10px;
}
.poi-image-info{
  position: relative;
}
.box-image-movie-info .image{
  width: 100%;
}
.box-image-movie-info .box-play{
  background-color: rgba(0, 0, 0, 0.7); 
  height: 15%;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box-image-movie-info .box-play button{
  border: 0;
  padding: 10px;
  font-size: 17px;
  background-color: #D95346;
  color: white;

}
.box-image-movie-info .box-play button:hover{
  background-color: #dd4234;

}
.list-episode{
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: #252525;

}
.list-episode .text{
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}
.list-episode .btn-episode{
  margin: 0 6px;
  border: 0;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 12px;
  background-color: #383838;
  color: white;
}
.list-episode .btn-episode:hover{
  background-color: #666;
}
.description {
  padding: 10px;
  background-color: #252525;

}
.description .text-1{
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}
.description .text-2{
  color: #828282;
  line-height: 20px;
  font-size: 14px;
}
.tags .tag-text{
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 15px;
}
.tags .tag-button{
  border: 0;
  background-color: #383838;
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  margin-right: 10px;
}
.box-pagin{
  display: flex;
  justify-content: end;
}
.box-pagin .page-item{
  border-radius: 0;
  margin: 5px;

}
.box-pagin .page-item .page-link{
  font-size: 12px;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  font-weight: bold;
  background-color: #3a3a3a;
  border: 1px solid rgb(78, 78, 78);
  color: white;
  cursor: pointer;
}
.box-pagin .page-item .page-link:focus{
  box-shadow: none;
  background-color:#3a3a3a;
}
.box-pagin .page-item.active .page-link{
  background-color: #3a3a3a;
  color: #ff9601;
  border-color: #ff9601;
}
.box-pagin .page-item.active .page-link:focus{
  box-shadow: none;
}
@media (max-width: 740px) {
.header {
  height: 40px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container {
  width: 100%;
}
.container{
  margin: 0;
}
.main-content .container{
  width: 100%;
}
.left-header {
  order: 1;
}
.right-header {
  order: 2;
}
.input-search {
  display: none;
}
.menu-header {
  display: block;
}
.icon-search {
  font-size: 22px;
  margin-right: 12px;
  color: white;
  cursor: pointer;
}
.icon-menu {
  font-size: 22px;
  cursor: pointer;
  margin-left: 12px;
}
.logo{
  width: 60%;
  margin: auto;
}
.main-menu{
  display: none;
}
.repon-menu{
  display: block;

}
.menu-out{
  display: block;

}
.movie-new{
  display: flex;
}
.movie-trend{
  display: none;
}
.text-new-1{
  font-size: 14px;
  
}
.text-new-2{
  font-size: 14px;

}
.box-text-1{
  padding-bottom: 10px;
  width: 180px;
}
.box-text-2{
  padding-bottom: 10px;
  width: 180px;
  margin-left: 10px;
}

.carousel__item {
  min-height: 250px;
}
.repon-search{
  display: block;
}
.box-movie{
  width: 46.72%;

}
.text-hot{
  font-size: 15px;
}
.box-movie-title{
  font-size: 13px;
}
.app-category .container{
  width: 100%;
}

.main-footer .container{
  width: 100%;
  
}
.box-content-footer{
  flex-direction: column;
  
}
.box-content-footer .intro{
  width: 100%;
}
.box-content-footer .info{
  width: 100%;
  height: 80px;
}
.repon-list-menu .repon-menu-item{
  font-size: 12px;
}
.title-movie-info{
  margin-top: 15px;
}
.list-episode .text{
  font-size: 13px;
}
}
@media (max-width: 400px){
  .box-movie{
    width: 46.3%;
  }
}
@media (max-width: 900px){
  .box-movie{
    width: 46%;
  
  }
}